## Download Sample Smart Meter Data

Downloads a sample file from https://axsa4prod4publicdata4sa.blob.core.windows.net/$web/index.html#dataset-b and displays some excerpts and summary statistics.

In [8]:
import pandas as pd
data = pd.read_csv("https://axsa4prod4publicdata4sa.blob.core.windows.net/$web/ckw_opendata_smartmeter_dataset_b_202210.csv.gz")

Display the sample data using the pandas default renderer:

In [9]:
data

        area_code                 timestamp  num_meter  value_kwh
0            4806  2022-10-10T18:15:00.000Z        822  106.95225
1            4806  2022-10-06T18:45:00.000Z        822   92.59300
2            4806  2022-10-01T11:45:00.000Z        822   93.03100
3            4806  2022-10-06T16:45:00.000Z        822   92.15500
4            4806  2022-10-10T08:45:00.000Z        822   76.98200
...           ...                       ...        ...        ...
136027       6331  2022-10-04T20:30:00.000Z        169   21.27500
136028       6331  2022-10-01T12:45:00.000Z        169   24.21700
136029       6331  2022-10-07T06:15:00.000Z        169   22.14200
136030       6331  2022-10-02T01:15:00.000Z        169    9.49700
136031       6331  2022-10-01T12:15:00.000Z        169   19.23000

[136032 rows x 4 columns]